### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data_df)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
total_players_df = pd.DataFrame(purchase_data_df[["Purchase ID", "SN", "Age",
                           "Gender", "Item ID", "Item Name", "Price"]])
total_players_df = total_players_df.drop_duplicates(subset="SN", keep="first", inplace=False)
total_players_df = total_players_df.rename(columns={"SN":"Total Players"})
total_players_summary = dict()
total_players_summary["Total Players"] = len(total_players_df["Total Players"].unique())
total_players_summary_df = pd.DataFrame([total_players_summary])
total_players_summary_df.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
# Number of unique items
unique_items = len(purchase_data_df["Item ID"].unique())

In [22]:
# Number of Purchases
total_purchases = len(purchase_data_df["Item Name"])

In [23]:
# Total Revenue
total_revenue = 0

for col in ['Price']:
    
    total_revenue += purchase_data_df[col].sum()

In [24]:
# Average Price calculation
average_price = purchase_data_df["Price"].mean()

In [25]:
#Create summary data frame
summary_data = dict()

summary_data["Number of Unique Items"] = unique_items
summary_data["Average Price"] = average_price
summary_data["Number of Purchases"] = total_purchases
summary_data["Total Revenue"] = total_revenue
summary_df = pd.DataFrame([summary_data])
summary_df['Average Price'] = summary_df['Average Price'].map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)
summary_df.style.hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [26]:
# Count of male players
male_players = purchase_data_df[purchase_data_df["Gender"] == "Male"]
male_players_unique = (male_players["SN"].unique())
male_players_unique_count = len(male_players["SN"].unique())
male_players_unique_count

male_gender_perc = ((male_players_unique_count / total_players_summary_df['Total Players'])*100).map("{:,.2f}%".format)
male_gender_perc

male_summary = dict()
male_summary = pd.DataFrame({"Gender": "Male", "Total Count": male_players_unique_count,
                              "Percentage of Players": male_gender_perc})

In [27]:
# Count of female players
female_players = purchase_data_df[purchase_data_df["Gender"] == "Female"]
female_players_unique = (female_players["SN"].unique())
female_players_unique_count = len(female_players["SN"].unique())
female_players_unique_count

female_gender_perc = ((female_players_unique_count / total_players_summary_df['Total Players'])*100).map("{:,.2f}%".format)
female_gender_perc

female_summary = dict()
female_summary = pd.DataFrame({"Gender": "Female", "Total Count": female_players_unique_count,
                              "Percentage of Players": female_gender_perc})

In [28]:
# Count of other / non-disclosed
other_players = purchase_data_df[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
other_players_unique = (other_players["SN"].unique())
other_players_unique_count = len(other_players["SN"].unique())
other_players_unique_count

other_gender_perc = ((other_players_unique_count / total_players_summary_df['Total Players'])*100).map("{:,.2f}%".format)
other_gender_perc

other_summary = dict()
other_summary = pd.DataFrame({"Gender": "Other / Non-Disclosed", "Total Count": other_players_unique_count,
                              "Percentage of Players": other_gender_perc})

In [29]:
demo_df = pd.concat([male_summary, female_summary, other_summary],ignore_index=True)
demo_df.style.hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Male purchases
male_purchase_count = len(male_players)
male_players_APP = male_players["Price"].mean()
male_players_TPV = male_players["Price"].sum()
male_players_ATPP =(male_players.groupby("SN")["Price"].sum()).mean()

male_purchases = dict()
male_purchases = pd.DataFrame({"Gender": "Male", "Purchase Count": [male_purchase_count],
                              "Average Purchase Price": [male_players_APP],
                               "Total Purchase Value":  [male_players_TPV], 
                               "Avg Total Purchase per Person":[male_players_ATPP]})

In [14]:
# Female purchases
female_purchase_count = len(female_players)
female_players_APP = female_players["Price"].mean()
female_players_TPV = female_players["Price"].sum()
female_players_ATPP =(female_players.groupby("SN")["Price"].sum()).mean()

female_purchases = dict()
female_purchases = pd.DataFrame({"Gender": "Female", "Purchase Count": [female_purchase_count],
                              "Average Purchase Price": [female_players_APP],
                               "Total Purchase Value":  [female_players_TPV], 
                               "Avg Total Purchase per Person":[female_players_ATPP]})

In [15]:
# Other / Non-disclosed purchases
other_purchase_count = len(other_players)
other_players_APP = other_players["Price"].mean()
other_players_TPV = other_players["Price"].sum()
other_players_ATPP =(other_players.groupby("SN")["Price"].sum()).mean()

other_purchases = dict()
other_purchases = pd.DataFrame({"Gender": "Other / Non-Disclosed", "Purchase Count": [other_purchase_count],
                              "Average Purchase Price": [other_players_APP],
                               "Total Purchase Value":  [other_players_TPV], 
                               "Avg Total Purchase per Person":[other_players_ATPP]})

In [16]:
# Purchase Analysis by Gender
demo_purchases_df = pd.concat([female_purchases,male_purchases, other_purchases],ignore_index=True)
demo_purchases_df['Average Purchase Price'] = demo_purchases_df['Average Purchase Price'].map('${:,.2f}'.format)
demo_purchases_df['Total Purchase Value'] = demo_purchases_df['Total Purchase Value'].map('${:,.2f}'.format)
demo_purchases_df['Avg Total Purchase per Person'] = demo_purchases_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)
demo_purchases_df.style.hide_index()

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the eight bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

# Categorize the existing players using the age bins
age_df = pd.DataFrame(total_players_df[["Purchase ID", "Total Players", "Age",
                           "Gender", "Item ID", "Item Name", "Price"]])

In [18]:
# Creating a group based off of the bins
age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)

# Creating a group based off of the bins and saving it
age_data_df = age_df.groupby("Age Range")
age_data_df.count()

# Let's work with this new dataframe
summary_by_age_df = pd.DataFrame(age_data_df.count())
summary_by_age_df 

# Calculations performed on "Purchase Id"" column 
summary_by_age_df["Purchase ID"] = (summary_by_age_df["Purchase ID"]/len(total_players_df["Total Players"].unique()))*100
summary_by_age_df 

# format percentages 
summary_by_age_df["Purchase ID"] = summary_by_age_df["Purchase ID"].map("{:,.2f}%".format)
summary_by_age_df

#  Reduce number of columns 
org_summary_by_age_df = summary_by_age_df[["Total Players","Purchase ID"]]
org_summary_by_age_df

# Rename the columns for the final age demographic table
fin_grp_by_age_summary_df = org_summary_by_age_df.rename(columns={"Total Players":"Total Count","Purchase ID":"Percentage of Players"})
fin_grp_by_age_summary_df

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Categorize the existing players using the age bins
purchase_age_df = pd.DataFrame(purchase_data_df[["Purchase ID", "SN", "Age",
                           "Gender", "Item ID", "Item Name", "Price"]])

# Creating a group based off of the bins
purchase_age_df["Age Range"] = pd.cut(age_df["Age"], bins, labels=group_names, include_lowest=True)

# Creating a group based off of the bins and saving it
purchase_age_data_df = age_df.groupby("Age Range")

# Purchase Count
purchase_count_age = purchase_age_data_df["Purchase ID"].count()

# Average Purchase Price
avg_purchase_price_age = purchase_age_data_df["Price"].mean()

# Total Purchase Value
total_purchase_value_age = purchase_age_data_df["Price"].sum()

# Purchase Total per Person
purchase_per_person_age = total_purchase_value_age / fin_grp_by_age_summary_df["Total Count"]

# Create data frame with purchase values
purchase_age = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value_age,
                                "Avg Total Purchase per Person":purchase_per_person_age})

# Formatting data
purchase_age["Average Purchase Price"] = purchase_age["Average Purchase Price"].map("${:,.2f}".format)
purchase_age["Total Purchase Value"] = purchase_age["Total Purchase Value"].map("${:,.2f}".format)
purchase_age["Avg Total Purchase per Person"] = purchase_age["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchase_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [74]:
# Group Players
spender_data_df = purchase_data_df.groupby("SN")

# Purchase Count
spender_purchase_count = spender_data_df["Purchase ID"].count()

# Average Purchase Price
spender_avg_price = spender_data_df["Price"].mean()

# Total Purchase Value
spender_total_purchase = spender_data_df["Price"].sum()

# Create dataframe
spender_summary = pd.DataFrame({"Purchase Count" : spender_purchase_count,
                                 "Average Purchase Price": spender_avg_price,
                                 "Total Purchase Value":spender_total_purchase})

# Formatting data
spender_summary["Average Purchase Price"] = spender_summary["Average Purchase Price"].map("${:,.2f}".format)
spender_summary["Total Purchase Value"] = spender_summary["Total Purchase Value"].astype(float)

spender_summary.sort_values(["Total Purchase Value"],ascending=False, inplace=True, kind='quicksort')
spender_summary["Total Purchase Value"] = spender_summary["Total Purchase Value"].map("${:,.2f}".format)

spender_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
# Group Items
items_data = purchase_data_df[["Item ID", "Item Name", "Price"]]
items_data = items_data.groupby(['Item ID','Item Name'])

# Purchase Count
item_purchase = items_data["Price"].count()

# Total Purchase Value
item_value = items_data["Price"].sum()

# Item Price
item_price = item_value / item_purchase

# Create dataframe
most_popular_items = pd.DataFrame({"Purchase Count": item_purchase, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_value})
# Formatting data
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:,.2f}".format)
most_popular_items["Total Purchase Value"] = most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items.sort_values(["Purchase Count"],ascending=False, inplace=True, kind='quicksort')

most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [92]:
# Formatting data
most_profitable_items = pd.DataFrame({"Purchase Count": item_purchase, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_value})
most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].astype(float)

most_profitable_items.sort_values(["Total Purchase Value"],ascending=False, inplace=True, kind='quicksort')

most_profitable_items["Total Purchase Value"] = most_profitable_items["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:,.2f}".format)
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80